@import "tailwindcss";

/* Animasi Teks Berjalan (Marquee) */
@keyframes marquee {
  0% { transform: translateX(100%); }
  100% { transform: translateX(-100%); }
}

.animate-marquee {
  display: inline-block;
  white-space: nowrap;
  animation: marquee 20s linear infinite;
}

.animate-marquee:hover {
  animation-play-state: paused;
}

/* Custom Scrollbar Elegan */
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background: #f3f4f6;
}
::-webkit-scrollbar-thumb {
  background: #111827;
  border-radius: 4px;
}
::-webkit-scrollbar-thumb:hover {
  background: #a3e635; /* Hijau stabilo */
}